#start-header {
    padding-top: 82px;
}

#launchApp {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.instruction-box .grid-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: flex-start; */
}

.instruction-box .grid-item-left .instruction-number {
    position: relative;
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 8px;
    border-radius: 50%;
    background-color: #4655A8;
    font-weight: 600;
    font-size: 18pt;
    color: white;
    -webkit-box-shadow: 0 0 0 8px white,  0 0 0 10px #4655A8;
    box-shadow: 0 0 0 8px white,  0 0 0 10px #4655A8;
}