
#welcomeHero .hero-filter{
    background-color:  hsla(231, 57%, 21%, 0.12);   
}

#welcomeHero .hero-filter .hero-content .hero-title,
#welcomeHero .hero-filter .hero-content .hero-subtitle,
#welcomeHero .hero-filter .hero-content .hero-text {
    color: white;
}


.howToFigures {
    counter-reset: steps;
}

.howToFigures .image-box {
    position: relative;
}

.howToFigures .image-box .undraw-image {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 200px;
    padding-top: 32px;
}


.howToFigures .image-box .image-caption {
    position: relative;
    margin-top: 32px;
    line-height: 1.2;
    font-weight: 600;
}

.howToFigures .image-box .image-description {
    font-size: 14pt;
    padding-bottom: 12px;
    color: #3f454b;
}
