html, body {
	font-family: "Helvetica", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 16pt;
	margin: 0;
	padding: 0;
}

main, nav, header, footer, section {
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: $blue-grey-900;
	line-height: $line-height-heading;
	padding: 0;
	margin: 0;
	margin-top: 16px;
	margin-bottom: 6px;
}

p{
	color: $blue-grey-700;
	line-height: $line-height-default;
	padding: 0;
	margin: 0;
	margin-bottom: 16px;
}

a {
	text-decoration: none;
	padding: 0;
	margin: 0;
	border-bottom: 3px solid transparent;
	color: $purple-900;
	cursor: pointer;

	&:focus,
	&:hover {
		border-bottom-color: currentColor;
	}
}

ul, ol {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
	}
}

img {
	display: block;
	width: 100%;
}

/* buttons */
.btn {
	display: block;
	position: relative;
	margin: 12px 0;
	padding: 8px 16px;
	background-clip: border-box;
	background-color: transparent;
	border: 2px solid transparent;
	font-size: 12pt;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	text-align: center;
	width: 200px;
	border-radius: 4px;
	cursor: pointer;
}