.footer {
	padding: 72px;
	background-color: #fff;
	box-sizing: border-box;

	.logo {
		font-size: 14pt;
	}

	.menu {
		list-style: none;

		.menu-item {
			display: block;

			.menu-link {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 11pt;
				font-weight: 600;
				padding-bottom: 6px;

				.menu-icon {
					position: relative;
					width: 22px;
					height: 22px;
					top: 1px;
					margin-right: 6px;
				}
			}

			@media screen and (min-width: $max-width) {
				display: inline-block;
				margin-right: 32px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
