
.header {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .header-content {
        width: 90%;
        margin: 0 auto;
        z-index: 1;
    }
}

@media (min-width: $max-width) {
    .header {
        min-height: 52vh;

        .header-content {
            max-width: $max-width;
        }
    }
}
