.navbar {
	position: fixed;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 16px 0;
	top: 0;
	z-index: 999;
	background-color: #ffffff;

	/* set branding element + logo */
	.logo {
		margin: 0;
		margin-left: 12px;
		z-index: 2;
	}

	/* navlinks for mobile */
	.navlinks {
		list-style: none;
		display: none;
		width: 100%;
		top: 0;
		position: absolute;
		background-color: inherit;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.menu-item {
			margin-bottom: 24px;

			.menu-link {
				color: $purple-800;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 2px;
				padding-bottom: 6px;
				border-bottom: 2px solid transparent;
				font-size: 21pt;
				text-decoration: none;
			}
		}

		/* styles for when menu is expanded */
		&.expanded {
			display: flex;
			height: 100vh;
		}
	}

	/* define styles for menu buttons */
	.menubtns {
		position: absolute;
		right: 25px;
		width: 30px;

		.menu-item {
			width: 25px;
			display: inline-flex;
			position: relative;
			padding: 0;
			margin: 0;
			color: $text;

			.menu-link {
				padding: 0;
				margin: 0;
			}
		}
	}
}

// toggle menu button
#menuBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;

	.menu-icon {
		display: block;
		margin: 0 auto;
		position: relative;

		.menu-bar {
			display: block;
			height: 3px;
			width: 30px;
			border-radius: 6px;
			margin-bottom: 6px;
			background-color: $purple-800;
			transition: all 0.2s ease-in-out;

			&:nth-child(1) {
				margin-top: 2px;
			}
		}
	}

	&.open {
		.menu-bar:nth-child(1) {
			opacity: 0;
		}

		.menu-bar:nth-child(2) {
			transform: rotate(-45deg);
			transform-origin: center 0.5px;
			background-color: $primary;
		}

		.menu-bar:nth-child(3) {
			transform: rotate(45deg);
			transform-origin: 24.85px -2.5px;
			background-color: $purple-800;
		}
	}
}

@media screen and (min-width: 862px) {
	.navbar {
		// padding: 0;

		.logo {
			margin-right: 32px;
		}

		.navlinks {
			width: auto;
			position: static;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			padding: 0;

			.menu-item {
				margin-bottom: 0;
				margin-right: 44px;

				.menu-link {
					font-size: 11pt;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-weight: 600;
					color: $purple-800;
					border-bottom: 2px solid transparent;

					&:hover,
					&:focus {
						border-bottom-color: $purple-800;
					}
				}
			}
		}
	}

	#menuBtn {
		display: none;
	}
}
