.page {
    margin-top: 32px;

    .section {
        padding: 44px 0;

        .section-content {
            width: 90%;
            margin: 0 auto;

            strong {
                color: $dark;
            }

            ul, ol {
                margin-bottom: 16px;

                li {
                    margin-left: 48px;
                }
            }
        }
    }
}

@media (min-width: 972px){
    .page {
        .section {
            .section-content {
                max-width: 972px;
            }
        }
    }
}