.hero-alt {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 44px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.hero-alt.hero-background-img {
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}


.hero-alt .hero-content {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.hero-alt .hero-content .caption {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11pt;
    font-weight: bold;
    padding: 0;
}

.hero-alt .hero-content h1 {
    letter-spacing: 2px;
    font-size: 28pt;
    font-weight: 600;
    margin-bottom: 8px;
}

.hero-alt .hero-content p {
    font-size: 13pt;
}

.hero-alt .hero-content.centered, 
.hero-alt .hero-content.centered h1, 
.hero-alt .hero-content.centered h2, 
.hero-alt .hero-content.centered p {
    text-align: center;
    margin: 0 auto;
}

@media screen and (min-width: 972px) {
    .hero-alt {
        width: 100%;
        min-height: 65vh;
        max-height: 65vh;
        height: 100%;
    }
    .hero-alt .hero-content {
        width: 85%;
    }
    .home-hero-flex .hero-figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}