// global variables
$shadow: hsla(0, 0%, 0%, 0.4);
$box-shadow: 0 0 6px 2px $shadow;
$max-width: 972px;
$letter-spacing: 2px;
$line-height-min: 1.1;
$line-height-heading: 1.4;
$line-height-default: 1.7;

// import color palette #3 from tailwind
@import "_palette_3";

// load modules
@import "_base", "_nav", "_footer", "_page", "_header", "_accordion";


// define visually hidden style
.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
	width: 1px;
	margin: -1px;
	white-space: nowrap;
}

.btn-link {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 12px 32px;
	color: currentColor;
	width: 125px;
	box-shadow: none;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 11pt;

	&.link-primary {
		background-color: $purple-900;
		color: $purple-050;
	}

	&:hover, &:focus {
		box-shadow: 0 0 4px 3px $purple-400;
		text-decoration: underline;
	}
}

// site logo
.logo {
	display: inline-block;
	color: $purple-900;
	cursor: default;
	font-size: 11pt;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;

	.logo-icon {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		top: 4px;
		margin-right: 6px;

		circle {
			&:nth-child(1) {
				fill: $purple-900;
			}

			&:nth-child(2) {
				fill: $purple-100;
			}
		}
	}
}

#home-hero {
	background-position: 90% 65%;

	@media screen and (min-width: $max-width) {
		height: 72vh;
	}
}

.link-boxes {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	height: 400px;

	.link-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		a {
			border: 2px solid currentColor;
			padding: 12px 32px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: bold;
			font-size: 11pt;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 0;
		}
	}

	.link-box-info {
		background-color: $purple-100;

		a {
			color: $purple-900;
			z-index: 1;
		}
	}

	.link-box-start {
		a {
			color: $purple-050;
			z-index: 1;
		}

		&::after {
			background: $purple-900;
			opacity: 0.45;
		}
	}

	@media screen and (min-width: $max-width) {
		flex-direction: row;
		height: 300px;
	}
}

#get-started-link {
	background-position: 50% 25%;
}


#learn-more-link {
	background-position: 50% 50%;
}

.accordion-section {
	h3 {
		text-align: left;
	}

	@media screen and (min-width: $max-width) {
		h3 {
			text-align: center;
		}
	}
}