.logo {
    display: inline-block;
    color: hsl(231, 41%, 47%);
    cursor: default;

    font-size: 11pt;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo .logo-icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 4px;
    margin-right: 6px;
}